:root {
  --primary-rgb: rgba(193, 220, 220, 1);
  --primary-black: rgba(30, 30, 30, 1);
  --average-black: rgba(0, 0, 0, 1);
  --three-black: rgba(30, 30, 30, 0.75);
  --four-black: rgba(30, 30, 30, 0.5);
}
