/* poppins-500 - latin */
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/poppins-v24-latin-500.woff2") format("woff2");
}
/* poppins-700 - latin */
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/poppins-v24-latin-700.woff2") format("woff2");
}
/* poppins-800 - latin */
@font-face {
  font-display: swap;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/poppins-v24-latin-800.woff2") format("woff2");
}

:root {
  --primary-rgb: rgba(193, 220, 220, 1);
  --primary-black: rgba(30, 30, 30, 1);
  --average-black: rgba(0, 0, 0, 1);
  --three-black: rgba(30, 30, 30, 0.75);
  --four-black: rgba(30, 30, 30, 0.5);
  --primary-background: rgba(255, 255, 255, 1);
}

.container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}

body {
  overflow-x: hidden;
  background-color: var(--primary-background);
}

/* HEADER */
header {
  margin-top: 44px;
  margin-left: 96px;
  margin-right: 96px;
}

.links {
  display: flex;
  gap: 48px;
  margin-left: 334px;
  margin-top: -44px;
}

.home__link,
.products__link,
.contacts__link {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 18px;
  cursor: pointer;
}

.products__link,
.contacts__link {
  color: rgba(30, 30, 30, 0.5);
}

.icons {
  display: flex;
  gap: 48px;
  margin-top: -44px;
  margin-left: 1128px;
}

/* MAIN */
main {
  margin-left: 96px;
  margin-right: 96px;
}

.main__content {
  width: 1248px;
  height: 512px;
  border-radius: 24px;
  background-color: var(--primary-rgb);
  margin-top: 123px;
}

.main__title {
  width: 512px;
  height: 128px;
  font-family: "Poppins";
  font-size: 64px;
  line-height: 64px;
  color: var(--average-black);
  position: relative;
  top: 48px;
  left: 48px;
}

.site__statistic {
  display: flex;
  position: relative;
  left: 48px;
}

.statistic__numb {
  position: relative;
  top: 5px;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 32px;
}

.statistic__numb__desc {
  position: relative;
  bottom: 12px;
  font-size: 18px;
}

.line__two {
  position: relative;
  left: 48px;
}

.statistic__numb__two {
  position: relative;
  top: 5px;
  left: 96px;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 32px;
  color: var(--primary-black);
}

.statistic__desc__two {
  position: relative;
  bottom: 12px;
  font-size: 18px;
}

.main__input {
  width: 449px;
  height: 64px;
  border: none;
  border-radius: 12px;
  padding-left: 18px;
  background-color: var(--primary-background);
  font-family: "Poppins";
  font-weight: 500;
  font-size: 18px;
  color: var(--four-black);
  position: relative;
  z-index: 1;
}

.main__input:focus {
  border: none;
}

.inp {
  position: relative;
  top: 10rem;
  right: 14rem;
}

.rec__ico {
  position: absolute;
  right: 15px;
  top: 12px;
}

.rectangle__inp {
  z-index: -9;
  position: relative;
  left: 30.5rem;
  bottom: 3.6rem;
}

.search__icon {
  z-index: 9;
  position: relative;
  left: 28.5rem;
  bottom: 4.5rem;
}

.site__main__img {
  position: relative;
  left: 0.5rem;
  bottom: 15rem;
}

.vector__down {
  margin-left: 524px;
  position: relative;
  bottom: 5rem;
}

.main__rectangle {
  z-index: -9;
}

.main__flower {
  z-index: 9;
  position: relative;
  left: 48rem;
  bottom: 31rem;
}

.vector__up {
  position: relative;
  left: 45rem;
  bottom: 51rem;
}

/* SECTION */
.section__title {
  width: 256px;
  height: 96px;
  font-family: "Poppins";
  font-weight: 700;
  font-size: 32px;
  color: var(--primary-black);
  margin-top: 97px;
  margin-left: 110px;
}

.section__desc {
  width: 196px;
  height: 81px;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 18px;
  color: var(--four-black);
  margin-left: 110px;
}

/* FIXED FLOWERS SECTION */
.section__content {
  position: relative;
  height: 620px;
}

.card {
  position: absolute;
  width: 250px;
  text-align: center;
}

.card img {
  width: 230px;
}

.card_title {
  font-family: Poppins;
  font-weight: 700;
  margin-top: 15px;
}

.card_price {
  color: var(--four-black);
  font-family: Poppins;
  font-size: 18px;
}

.card1 {
  top: 10px;
  left: 500px;
}

.card2 {
  top: 10px;
  left: 800px;
}

.card3 {
  top: 10px;
  left: 1100px;
}

.section__flowers {
  position: absolute;
  left: 352px;
  top: 260px;
}

.natural__flower__title {
  width: 128px;
  height: 27px;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 18px;
  color: var(--primary-black);
}

.natural__flower__prc {
  width: 88px;
  height: 27px;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 18px;
  color: var(--four-black);
}

/* SECOND FLOWER */
.artificial__flower {
  position: absolute;
  left: 740px;
  top: 40px;
}

.artificial__title {
  position: absolute;
  left: 740px;
  top: 260px;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 18px;
}

.artificial__prc {
  position: absolute;
  left: 740px;
  top: 290px;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 18px;
  color: var(--four-black);
}

/* THIRD FLOWER */
.artif__plants__flower {
  position: absolute;
  left: 1080px;
  top: 40px;
}

.artif__title {
  position: absolute;
  left: 1080px;
  top: 260px;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 18px;
}

.artif__prc {
  position: absolute;
  left: 1080px;
  top: 290px;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 18px;
  color: var(--four-black);
}

/* ABOUT SECTION FIXED */
.section__about {
  position: relative;
  height: 520px;
  margin-top: 80px;
}

.about__info {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.about__title {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 32px;
  color: var(--primary-black);
}

.about__desc {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 18px;
  color: var(--four-black);
}

/* ABOUT BLOCKS */
.about__funcs {
  position: absolute;
  top: 150px;
  width: 100%;
  height: 340px;
}

.large__comp,
.shipping__comp,
.support__comp {
  position: absolute;
  display: flex;
  flex-direction: column;
}

.large__comp {
  left: 96px;
}

.shipping__comp {
  left: 520px;
}

.support__comp {
  left: 944px;
}

.img {
  width: 96px;
  height: 96px;
  margin-left: 8.5rem;
}

.title {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 18px;
  color: var(--average-black);
  text-align: center;
}

.desc {
  width: 400px;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 18px;
  color: var(--four-black);
  text-align: center;
  margin-top: -1rem;
}

.article__info {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.article__title {
  width: 182px;
  height: 48px;
  font-family: "Poppins";
  font-family: 700;
  font-size: 32px;
  color: var(--primary-black);
  margin-left: auto;
  margin-right: auto;
}

.article__desc {
  width: 262px;
  height: 27px;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 18px;
  color: var(--average-black);
  margin-left: auto;
  margin-right: auto;
  margin-top: -1rem;
}

.article__img {
  width: auto;
  height: 800px;
  background-color: var(--primary-rgb);
  border-radius: 15px;
  margin-top: 96px;
  margin-left: auto;
  margin-right: auto;
}

.natural__prev {
  margin-left: 96px;
  margin-top: -48px;
}

.flow__title {
  width: 233px;
  height: 27px;
  font-family: "Poppins";
  font-weight: 700;
  font-size: 18px;
  color: var(--primary-black);
}

.natural__prev__title {
  margin-left: 200px;
}

.accesoris__prev {
  margin-left: 544px;
  margin-top: -520px;
}

.accesories__title {
  margin-left: 638px;
}

.accesories__desc {
  width: 352px;
  height: 54px;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 18px;
  color: var(--four-black);
  margin-left: 610px;
}

.art__pl__img {
  margin-left: 992px;
  position: absolute;
  top: 137.5rem;
}

.artf__prev__title {
  margin-left: 1097px;
  margin-top: -12.5rem;
}
